@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    }

    body {
        @apply bg-white text-slate-900;
    }
}
